.employee-content .content-header {
    display: flex;
    height: 48px;
    align-items: center;
}

.employee-content .content-header .title .title-name {
    font-size: 24px;
    font-weight: bold;
    font-family: notosans-semibold;
}

.employee-content .content-header .title .category-link {
    color: #4682b4;
    text-decoration: none;
}

.main-content {
    height: calc(100vh - 168px);
    width: calc(100% - 32px);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 16px 16px 0 16px;
}
.btn-add{
    margin-left: 81%;
    width: 200px;
    height: 32px;
    background-color: #1a9c09;
    font-family: notosans-regular;
    font-size: 16px;
    font-weight: bold;
    color: #e5e5e5;
}
.main-content .employee-grid {
    height: calc(100% - 98px);
    margin-top: 20px;
    overflow: auto;
}

.filter{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 200px;
    height: 32px;
    left: 85.3%;
    padding: 0;
}
.filter .icon-search{
height: 32px;
width: 32px;
padding-left:3px ;
margin-right: 4px;
cursor: pointer;
position: absolute;
font-size: 1.1rem;
left: 88%;
}
.filter .text-box{
    height: 32px;
    width: 200px;
}
.main-content .employee-grid table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    text-transform: uppercase;
}

.main-content .employee-grid th {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #eeeeee;
    border-left: 1px solid #e5e5e5;
    text-align: left;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content .employee-grid td {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content .employee-grid tr {
    max-height: 56px;
}

.main-content .employee-grid tr:nth-child(2n+1) {
    background-color: #fafafa;
}

.main-content .paging-bar {
    height: 44px;
    display: flex;
    align-items: center;
}

.main-content .paging-bar .left-bar {
    position: absolute;
}

.main-content .paging-bar .right-bar {
    position: absolute;
    right: 32px;
}

.main-content .paging-bar .right-bar .selector {
    width: 200px;
    border: 1px solid #e5e5e5;
    height: 32px;
    padding-left: 12px;
    border-radius: 5px;
    outline: none;
    margin-right: 12px;
}

.btn-drop {
    background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -892px -358px;
    width: 24px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #bbbbbb
}

.dropdown:hover .dropdown-content {
    display: block !important;
    position: absolute;
}

.dropdown:hover .btn-drop {
    background-color: #e5e5e5;
}

.dropdown-content .dropdown-option {
    width: 100%;
    height: 32px;
    text-align: left;
    padding-left: 12px;
    border: none;
    outline: none;
    background-color: #ffffff;
}

.dropdown-content .delete-option {
    cursor: pointer;
}

.dropdown-content .delete-option:hover {
    background-color: #e5e5e5;
    color: #019160;
}
@import url('../../basics/table.css');
