.btn-add {
    position: absolute;
    right: 16px;
    height: 32px;
    border-radius: 16px;
    background-color: #019160;
    color: #ffffff;
    border: none;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

    .btn-add:hover{
        background-color: #2fbe8e;
    }

    .btn-number{
        border: none;
        outline: none;
        background-color: #ffffff;
        cursor: pointer;
        height: 20px;
        border-radius: 5px;
    }

    .btn-number:hover{
        background-color: #e5e5e5;
    }

    .btn-number:focus{
        border: 1px solid #000000;
    }

.btn-fix{
    color: #4682b4;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.btn-fix:hover{
    text-decoration: underline;
}

.btn-close{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    background: url('../../assets/img/Sprites.svg') no-repeat -136px -136px;
    border: none;
    outline: none;
    cursor: pointer;
}

    .btn-close:hover{
        background-color: #e5e5e5;
    }

.btn-help{
    position: absolute;
    right: 40px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: url('../../assets/img/Sprites.svg') no-repeat -84px -140px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
}

.btn-help:hover{
    background-color: #e5e5e5;
}

.btn-recycle-bin {
    background: url('../../assets/img/Sprites.svg') no-repeat -464px -313px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-table {
    padding: 4px 16px 4px 16px;
    border: 1px solid #bbbbbb;
    outline: none;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 12px;
    font-weight: bold;
}

.btn-cancel{
    height: 40px;
    padding: 0 16px 0 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

    .btn-cancel:hover{
        background-color: #e9ebee;
    }

.btn-save{
    position: absolute;
    right: 20px;
    height: 40px;
    padding: 0 16px 0 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #019160;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: #ffffff;
}

    .btn-save:hover{
        background-color: #2fbe8e;
    }

.btn-accept{
    height: 40px;
    padding: 0 16px 0 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #019160;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    right: 40px;
}

    .btn-accept:hover{
        background-color: #2fbe8e;
    }