input[type="checkbox"]
{
    flex-shrink: 0;
    width: 18px !important;
    height: 18px !important;
    appearance: none;
    -webkit-appearance: none;
    background: white;
    outline: none;
    border: 1px solid #afafaf;
    border-radius: 2px;
    transition: 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input:checked[type="checkbox"]
{
    border: 1px solid #2ca01c;
    transform: rotate(90deg);
}

input[type="checkbox"]::before
{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../../assets/img/Sprites.svg);
    background-position: -1224px -360px;
    display: none;
}

input:checked[type="checkbox"]::before
{
    display: block;
    transform: rotate(-90deg);
}