.icon-dropdown{
    width: 9px;
    height: 6px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1078px -38px;
}

.icon-more {
background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -568px -30px;
}

.icon-setting {
background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -676px -30px;
}

.icon-message {
background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -899px -30px;
}

.icon-help {
background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -732px -31px;
}

.icon-notification {
background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -788px -30px;
} 

.icon-dashboard {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -31px -1587px;
}

.icon-cash {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -74px -1589px;
}

.icon-deposit {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -117px -1590px;
}

.icon-buy {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -161px -1589px;
}

.icon-sell {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -206px -1588px;
}

.icon-bill-manage {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -248px -1589px;
}

.icon-storage {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -292px -1589px;
}

.icon-tool {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -337px -1590px;
}

.icon-asset {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -379px -1589px;
}

.icon-tax {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1591px;
}

.icon-price {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -468px -1590px;
}

.icon-synthetic {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -509px -1590px;
}

.icon-budget {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -423px -1664px;
}

.icon-report {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -546px -1593px;
}

.icon-finance {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -248px -1667px;
}


.icon-search {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -984px -352px;
    width: 32px;
    height: 32px;
}

.icon-success {
    height: 40px;
    width: 40px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -990px -460px;
}

.icon-alert {
    width: 40px;
    height: 40px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
}